.cards {
    background-color: var(--color-primary);
    height: 30vh;
    width: 15vw;
    border: solid 1px var(--color-primary);
}

.cards img {
    height: 100%;
    width: 100%;
}

.cards * {
    color: var(--color-primary);
    text-shadow: 0px 0px 60px black;
}