
header img {
    height: 100%;
    width: auto;
}

header img:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
}

nav {
    display: flex;
    gap: 50px;
    font-size: large;
    font-weight: 900;
}

nav a:hover {
    color: rgb(30, 88, 30);
    transition: transform .5s ease;
    transform: scale(1.3);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: var(--color-primary);
    box-shadow: 0px 10px 30px black;
    height: 200px;
    width: 0px;
    gap: 5px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

@keyframes side-left {
    from {width: 0; opacity: 0;}
    to {width: 200px; opacity: 1;}
}

.active {
    display: flex;
    width: 200px;
    animation: side-left 1s ease;
}

main {
    height: 100vh;
    margin-bottom: 60px;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: right;
    flex-direction: row;
    color: var(--color-primary);
    font-size: 48px;
    background-color: #191b1a;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.589);
}

.about img {
    opacity: 0.543;
}

.present-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
}

#titulo1 {
    font-size: 86px;
}

.about p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 24px;
    font-style: oblique;
}

.about div h1, .about div p{
    text-align: left;
    text-shadow: 0px 10px 10px black;
}

.about img {
    height: 100%;
    width: auto;
}

.projects  {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    height: 550px;
    background-color: var(--color-primary);
}

@keyframes up-height {
    from{height: 400px;}
    to{height: 450px;}
}

@keyframes down-height {
    from{height: 450px;}
    to{height: 400px;}
}


/** Cores da sombra dos cards */
#d1:hover {
    box-shadow: 0px 10px 30px var(--color-one);   
}
#d2:hover {
    box-shadow: 0px 10px 40px var(--color-two);   
}
#d3:hover {
    box-shadow: 0px 10px 20px var(--color-three);   
}
#d4:hover {
    box-shadow: 0px 10px 30px var(--color-four);   
}

.projects h1 {
    text-align: right;
}

.projects p {
    text-align: right;
}

.grateful {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.grateful h1 {
    color: var(--color-primary);
    font-size: 60px;
    text-shadow: 0px 10px 10px black;
}   

#carouselExample h5 {
    color: white;
    text-shadow: 0px 10px 10px black;
    font-size: 32px;
    border-style: solid red 2px;
}

#carouselExample p {
    color: white;

    text-shadow: 0px 10px 10px black;
    font-size: 18px;
}
