@media (max-width: 860px) and (min-width: 466px) {
    .material-symbols-outlined {
        display: flex;
    }

    nav {
        display: none;
    }

    body {
        height: 2000px;
    }

    main {
        height: 80%;      
    }

    .about {
        flex-direction: column;
        padding: 20px;
    }

    .projects {
        background-color: transparent;
        height: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1000px;
        gap: 100px;
    }

    .cards {
        width: 50%;
        height: auto;
        background-color: transparent;
        margin-bottom: 160px;
    }  

    .cards * {
        color: white;
        text-shadow: 0px 10px 10px black;
    }

    .grateful {
        display: flex;
        margin-top: 1000px;
        width: 80vw;
        margin-left: 10vw;
        justify-content: center;
        align-items: center;
    }

    .grateful h1 {
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin-top: 2200px;
        bottom: 0;
    }
}

@media (max-width: 465px) {
    .material-symbols-outlined {
        display: flex;
    }

    header {
        width: 100vw;
    }

    nav {
        display: none;
    }

    body {
        width: 100vw;
        height: 2000px;
    }

    main {
        height: 80%;      
        width: 100%;
    }

    .about {
        flex-direction: column;
        padding: 20px;
        width: 100%;
    }

    .projects {
        background-color: transparent;
        height: 500px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1050px;
        gap: 140px;
        animation: none;
    }

    .cards {
        width: 80%;
        height: auto;
        background-color: transparent;
        margin-bottom: 120px;
    }  

    .cards:hover {
        transform: none;
        animation: none;
        transition: none;
        cursor: default;
    }

    .projects:has(.cards:hover) {
        animation: none;
        transition: none;
        height: 500px;
    }

    .cards * {
        color: white;
        text-shadow: 0px 10px 10px black;
    }

    .grateful {
        display: flex;
        margin-top: 1050px;
        width: 80vw;
        margin-left: 10vw;
        justify-content: center;
        align-items: center;
    }

    .grateful h1 {
        font-size: 28px;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin-top: 2600px;
        bottom: 0;
    }

    #contact {
        width: 70vw;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 1200px;
    }

    #contact * {
        font-size: small;
    }
}

@media (min-width: 861px) and (max-width: 999px) {
    main {
        margin-bottom: 400px;
    }

    .menu {
        display: none;
    }

    footer {
        margin-top: 500px;
        bottom: 0;
    }

    .projects {
        padding: 60px;
    }
}

@media (min-width: 861px) {
    .menu {
        display: none;
    }
}

@media (max-width: 1114px) and (min-width: 1000px) {
    main {
        margin-bottom: 200px;
    }
}

@media (max-width: 1600px) {

    .projects{
        height: 500px;
    }

    main {
        margin-bottom: 200px;
    }
    
}
